@model LoginVM



@Html.Partial("_ValidationSummary")

<div class="ui two column stackable grid container">

  @if (Model.EnableLocalLogin)
  {
    <div class="column">
      <div class="ui segment block colour">
        <h1>Local Login</h1>

        <form asp-route="Login" class="ui form">
          <input type="hidden" asp-for="ReturnUrl" />

          <div class="field">            
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
            </div>


          </div>
          <div class="field">            
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
            </div>
          </div>
          @if (Model.AllowRememberLogin)
          {
            <div class="field login-remember">
              <div class="ui checkbox">
                <input asp-for="RememberLogin">
                <label asp-for="RememberLogin">Remember My Login</label>
              </div>

            </div>
          }
          <div class="form-group">
            <button class="ui primary button" name="button" type="submit" value="login">Login</button>
            <button class="ui button" type="submit" name="button" value="cancel">Cancel</button>
          </div>
        </form>
        <section>
          <p><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a></p>
          <p>If you haven't set up an account yet, please <a asp-area="" asp-controller="Account" asp-action="Register">Register for a new account</a></p>
        </section>
      </div>
    </div>
  }

  @if (Model.VisibleExternalProviders.Any())
  {
    <div class="column">
      <div class="ui segment block colour2">
        <h2 class="panel-title">External Login</h2>

        <div class="ui link list">
          @foreach (var provider in Model.VisibleExternalProviders)
          {
            <a class="item"
               asp-action="ExternalLogin"
               asp-route-provider="@provider.AuthenticationScheme"
               asp-route-returnUrl="@Model.ReturnUrl">
              Login with @provider.DisplayName credentials
            </a>
          }
        </div>

      </div>
    </div>
  }

  @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
  {
    <div class="alert alert-warning">
      <strong>Invalid login request</strong>
      There are no login schemes configured for this client.
    </div>
  }
</div>