@model StatusMessageVM

@if (Model != null && !String.IsNullOrEmpty(Model.StatusMessage))
{
  var messageClass = Model.Success ? "success" : "negative";
<div class="ui @messageClass message">
  <i class="close icon"></i>
  <div class="header">
    @(messageClass == "success" ? "Success" : "Error")
  </div>
  <p>@Model.StatusMessage</p>
</div>
}