@{
  Layout = "/Views/Shared/_Layout.cshtml";
}



<div class="ui container">
  <div class="ui segment block colour">

    <h1>Manage your account</h1>

    @await Html.PartialAsync("_ManageNav")

    @RenderBody()

    <section>
      <p>
        <a href="http://localhost:5002" title="Back to Site">Back to Site</a>
      </p>
    </section>

  </div>
</div>

@section Scripts {
  @RenderSection("Scripts", required: false)
}

