
<div class="ui tabular menu">

  <a class="item @ManageNavPages.IndexNavClass(ViewContext)" asp-action="Index">Profile</a>

  @if (CJ.IdentityServer.Web.Helpers.ViewHelper.GetIdentityProvider(User?.Claims) == "local")
  {
    <a class="item @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-action="ChangePassword">Password</a>
  }
</div>