@model ChangePasswordVM
@{
  ViewData["Title"] = "Change password";
  ViewData.AddActivePage(ManageNavPages.ChangePassword);
}


@Html.Partial("_StatusMessage", Model.StatusMessage)
<form method="post" class="ui form">
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="field">
    <label asp-for="OldPassword"></label>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input asp-for="OldPassword" class="form-control" />
    </div>    
    <span asp-validation-for="OldPassword" class="text-danger"></span>
  </div>
  <div class="field">
    <label asp-for="NewPassword"></label>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input asp-for="NewPassword" class="form-control" />
    </div>    
    <span asp-validation-for="NewPassword" class="text-danger"></span>
  </div>
  <div class="field">
    <label asp-for="ConfirmPassword"></label>    
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <button type="submit" class="ui primary button">Update password</button>
</form>    

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
